body {
    background-image: url(./Img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    position: absolute;
    margin: 0 30%;
    padding: 0 10px;
    top: 0;
    width: 800px;
    height: 100%;
    background-color: white;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    font-size: 18px;
}

img {
    float: left;
    margin-right: 10px;
}

.link-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    width: 200px;
    height: 40px;
    padding-top: 25px;
    background-color: #4b003d;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    position: absolute;
    right: 25px;
    transition: all 0.4s ease;
}

.link-button:hover {
    background-color: #1f0019;
    width: 205px;
    height: 45px;
}